main{
  
}

section#about {
  background-color: black;
}
section#about .wrap {

  padding-top: 150px;
  box-sizing: border-box;
}
section#about .wrap>*{

}
section#about .wrap img{
  width: calc(100% / 2);
  padding-right: 107px;
}

section#about .wrap .aboutC{
  width: calc(100% / 2);
}
section#about .wrap h2 {
  color: white;
  font-weight: bold;
}
section#about .wrap .aboutC ul li{
  
  line-height: 1.6;
  color: white;
}

section#about .wrap h2 span.block {

}
section#about .wrap p {

}