section#about{

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  height: 80vh;
}
section#about > .wrap{
  width: 52%;
}
section>.wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .wrap>h2{
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
section#about .about{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
}
section .wrap>div{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(5,1fr);
    margin-top: 43px;
    row-gap: 27px;

}


section#about .about_left{
  margin-right: 164px;
  position: relative;
  z-index: 1;
}
section#about .about_left article{
  
}
section#about .about_left p{
  
  color: white;
  line-height: 1.5;
  padding-top: 15px;
  text-align: center;
}
section#about .about_right h3{
  
  color: white;
  font-size: 40px;
}
section#about .about_right p{
  color: white;
  line-height: 1.5;
}
section#about .about_right p.textBold{
  
  font-size: 30px;
}