body{

}
.wrap{
   max-width: 1800px;
  margin: 0 auto;
}
/* 패딩 */
.padding50{
  padding: 50px;
}
.paddingT50{
  padding-top: 50px;
}
.paddingR50{
  padding-right:50px;
}
.paddingB50{
  padding-bottom: 50px;
}
.paddingL50{
  padding-left:50px;
}

/* 마진 */
.margin50{
  margin: 50px;
}
.marginT50{
  margin-top: 50px !important;
}
.marginR50{
  margin-right:50px;
}
.marginB50{
  margin-bottom: 50px !important;
}
.marginL50{
  margin-left:50px;
}

/* flex */
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.center{
  justify-content: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
/* grid */
.grid24{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

}

/* 정렬 */
.text-center{
 text-align: center;
}

.align-center{
  align-items:center;
}

.column{
  flex-direction: column;
}
/* 가상 선택자 */

/* 블럭, 인라인 */
.block{
  display: block;
}

/* 둥근모서리 */
.borderR30{
  border-radius: 30px;
}

/* 라인 */
.line{
  border-left: 1px solid #ccc;
  height: 25px;
  display: inline-block;
  margin: 0 20px;
}

/* 안보이게 */
.hide{
  display: none;
}
/*  높이 */
.vh100{
  height:100vh;
  box-sizing:border-box;
  min-height: 600px;
}


.ham{
  font-size: 0;
  width: 21px;
  height: 11px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  box-sizing: border-box;
  display: flex;
  align-items: center; 
}

.ham::after{
  content:"";
  border-top: 3px solid white;
  
  width: 21px;
  height: 24px;
}