.header{
   position: fixed;
   width: 100%;
   z-index: 1;
}

.header .wrap{
   margin-top: 30px;
   align-items: center;
   padding: 0 22px;
}
.header .wrap a.logo{
   
   font-size: 0;
   background-image: url(../img/logo.PNG);
   display: block;
   width: 90px;
   height: 74px;
   background-size: contain;
}
.header .wrap ul a{
   color: white;
   font-weight: 300;
   font-size: 25px;
   text-transform: capitalize;
}
.header .wrap ul a:hover{
   color:grey;
}
.header .wrap ul{

   align-items: center;
}

.header .wrap ul li{
   padding-left: 40px;
}
