/* section#title{ */
   /* background-image:url(../img/title1.jpg); */
   /* background-size: cover;
   position: relative;
} */

/* section#title .wrap{

   height: 100%;
   display: flex;
   align-items: center;
} */

/* section#title .wrap h2{
   font-size: 100px;
   position: absolute;
   right: 22%;
   top: 35%;
} */