section#portfolio {

}
section#portfolio::before{
  content:"";
  display: block;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  bottom: -350px;
  left: calc(50% - 350px);
}



section#portfolio .wrap {
}

section#portfolio .wrap::before {
  content:"";
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  bottom: -140px;
  left: calc(50% - 140px);

}

section#portfolio .wrap>*{
  
}

section#portfolio .wrap ul.flex{
  
  flex-wrap: wrap;
  box-sizing: border-box;
}
section#portfolio .wrap h2{
  
}
section#portfolio .wrap p{
  
  display: flex;
  justify-content: right;
}
section#portfolio::after{
  
  width: 100%;
}  

section#portfolio .wrap ul.board>li{
  margin: 10px;
  background-color: #3356b0;
  border-radius: 18px;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  width: 250px;
}
section#portfolio .wrap ul.board > li>a{
  
}
section#portfolio .wrap ul li img{
  border-radius: 20px;
  height: 127px;
}
section#portfolio .wrap ul li a img:hover {
  transform:scale(2);
  overflow: hidden;
}

section#portfolio .wrap .text{
  color: white;
  padding-top: 10px;
  text-align: center;
}
section#portfolio .wrap .text h3{
  padding: 10px 0;
  color: white;
}
section#portfolio .wrap .text h3 a{
  color: white;
}

section#portfolio .wrap .text ul{
  color: lightgray;
  text-align: left;
  padding-left: 10px;
}

section#portfolio .wrap .text ul li{
  color: lightgray;
  line-height: 1.4;
}
section#portfolio .wrap h2.h2 span.block {

}
