section#portfolio {
  background-color: black;
  padding-top: 0px;
}
section#portfolio .wrap {
}

section#portfolio .wrap>*{
  
}
.slick-list{
  margin: 0 15px !important;
}
section#portfolio .wrap ul.flex{
  
  flex-wrap: wrap;
  box-sizing: border-box;
}
section#portfolio .wrap h2{
  
  color: white;
}
section#portfolio .wrap p{
  display: flex;
  justify-content: right;
  color: white;
  font-weight: 300;
  margin-bottom: 10px;
}

section#portfolio .text>p{
  color: #3356b0;
  font-weight: bold;
}
section#portfolio::after{
  
  width: 100%;
}  

section#portfolio .wrap ul.board>li{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  width: 250px;
}
section#portfolio .wrap ul.board > li>a{
  overflow: hidden;
}
section#portfolio .wrap ul li img{
  height: 127px;
  box-shadow: 0 10px 10px #eee;
  transition:1s;

}
section#portfolio .wrap ul li a img:hover {
  transform:scale(1.2);

}

section#portfolio .wrap .text{
  color: white;
  padding-top: 10px;
  text-align: center;
}
section#portfolio .wrap .text h3{
  padding: 10px 0;
  color: #cacaca;
  text-align: left;
  font-weight: 300;
}
section#portfolio .wrap .text h3 a{
  color: white;
}

section#portfolio .wrap .text ul{
  color: lightgray;
  text-align: left;
  padding-left: 10px;
}

section#portfolio .wrap .text ul li{
  color: lightgray;
  line-height: 1.4;
}
section#portfolio .wrap h2.h2 span.block {

}
