@media screen and (max-width:480px){
  
  .wrap{    
  padding: 0 30px !important;
  min-height: 600px;
  box-sizing: border-box;
  }
  .vh100{
    height: 70vh;
    box-sizing: border-box;
    min-height: 600px;
  }
/*  헤더   */
  .header{
  margin: 0;
  padding-top: 30px;
  }
  .header.blackBG{
    background-color:black;
    position: fixed;
    z-index: 10;
  }
  .header .wrap{
  margin: 0;
  position: relative;
  width: 100%;
  min-height: initial;
  }
  .header .wrap a.logo{
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  }
  .ham{
  display: flex;
  }
  .ham::after{
    
  }
  .header .wrap ul{
  background-color: black;
  width: 100%;
  height: 200px;
  padding: 0;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 56px;
  display: inline-block;
  text-align: right;
  padding-right: 15px;
  width: 40%;
  padding-left: 20px;
  z-index: 1;
  display: none;
  }
  .header .wrap ul.click{
    display: inline-block !important;
  }
  
  .header .wrap ul li{
  padding: 0;
  padding-top: 10px;
  }
  .header .wrap ul li a{
  line-height: 2;
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: block;
  }
/*  타이틀  */
  div#title{
  background-position: center;
  }
  div#title .wrap h2{
  font-size: 17px;
  line-height: 2;
  }
  div#title .wrap p{
  font-size: 17px;
  }
  div#title .wrap .typing{
    
  margin-bottom: 10px;
  }
  div#title .wrap .wave{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 10px auto auto auto;
  row-gap: 10px;
  }
  .wave_effect1{
    
  grid-column: 2;
  }
  .wave_effect2{
    
  }
  .wave_effect3{
    
  }
  .wave_effect4{
  grid-column: 1 / span 4;
  }  
  div#title .wrap p .textC{
    display: block;
  }
/* about   */
  section#about{
  height: 87vh;
  }
  section#about > .wrap{
  width: 100%;
  }
  section#about .about{
  margin-top: 0;
  flex-direction: column;
  }
  section#about .wrap > h2{
  margin-top: 0;
  flex-direction: column;
  font-size: 35px;
  padding-bottom: 20px;
  }
  section#about .about_left{
  margin-right: 0;
  }
  section#about .about_left article img{
  width: 300px;
  }
  section#about .about_left p{
    
  font-size: 13px;
  }
  section#about .about_right{
  text-align: center;
  }
  section#about .about_right h3{
  font-size: 22px;
  color: #656565;
  }
  section#about .about_right p{
    
  font-size: 13px;
  }
/* skill   */
  section#skill{
    height: 90vh;
  }
  section#skill .wrap .skill{
  flex-direction: column;
  }
  section#skill .wrap > h2{
  font-size: 35px;
  display: initial;
  margin-bottom: 10px;
  }
  section#skill .wrap .skill .skill_left{
  width: 100%;
  }
  section#skill .wrap .skill .skill_left > h2{
    display: none;
  }
  section#skill .wrap .skill .skill_left p{
  margin-top: 15px;
  font-size: 13px;
  }
  
  section#skill .wrap .skill .skill_right{
  flex-direction: column;
  width: 100%;
  align-items: center;
  }
  
  section#skill .wrap .skill .skill_right>div{
  margin-right: 0 !important;
  }
  section#skill .wrap .skill .skill_right article{
    
  width: 260px;
  height: 260px;
  }
  section#skill .wrap .skill .skill_right .boxA{
  margin-bottom: 25px;
  }
  section#skill .wrap .skill h3{
    
  font-size: 22px;
  color: #656565;
  }
  section#skill .wrap .skill .skill_right article img{
  width: 50px;
  }
  section#skill .wrap .skill .skill_right article > div p{
    
  font-size: 14px;
  }
/*  portfolio  */
  section#portfolio{
  height: 387vh;
  }
  section#portfolio .wrap{
  flex-direction: column;
  }
  section#portfolio .wrap h2{
  transform: none;
  font-size: 35px;
  display: initial;
  margin-bottom: 10px;
  }
  section#portfolio .wrap .detail{
    align-items: center;
  }
  section#portfolio .wrap .left{
  padding-top: 30px;
  text-align: right;
  position: relative;
  }
  section#portfolio .wrap .detail9{
    
  }
  section#portfolio .wrap div .left a{
  width: 24%;
  /*! padding-left: 11px; */
  position: absolute;
  right: 0;
  bottom: -33px;
  }
}