section#skill{
   
}
section#skill .wrap{
}

section#skill .wrap h2{
  display: none;
}

section#skill .wrap .skill{
  display: flex;
  justify-content: center;
  align-items: center;
}

section#skill .wrap .skill>div{
  
  /*! width: calc(100% / 2); */
}
section#skill .wrap .skill .skill_left{
  color: white;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 178px;
}

section#skill .wrap .skill .skill_right{
  display: flex;
}
section#skill .wrap .skill .skill_right h3{
  
  margin-top: -50px;
  font-size: 28px;
}
section#skill .wrap .skill h3{
  
  margin-bottom: 15px;
}
section#skill .wrap .skill .skill_right>div{
  color: white;
  border: 1px solid #eee;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#skill .wrap .skill .skill_right .boxA{
  margin-right: 27px;
}
section#skill .wrap .skill .skill_right .boxB{
  
}
section#skill .wrap .skill .skill_right .boxB article>div{
  
  display: flex;
  justify-content: center;
}
section#skill .wrap .skill .skill_right div article{
  margin-top: 79px;

}
section#skill .wrap .skill .skill_right div.boxB article{
    display: flex;
  justify-content: space-between;
  /*! width: 83%; */
    flex-direction: column;
}
section#skill .wrap .skill .skill_right .boxA article img{
  
  padding-left: 10px;
}