div#title {
  height: 100%;
  min-height: 800px;
  background-image: url(../img/title2.jpg);
}


div#title .wrap {
  align-items: center;
}
div#title div .wrap{
  
}

div#title .wrap h2{
  animation-name: titleT;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-direction:reverse;
  animation-timing-function: ease-in;
  opacity: 0;
  animation-fill-mode: forwards;
  line-height: 1.6;
}



div#title .wrap .stxt{

}
div#title .wrap .stxt p.stxtT{
  text-align: left;
}
div#title .wrap .stxt p.stxtB{
  text-align: left;
  line-height: 1.4;
}

div#title .wrap p {
  animation-name: titleT;
  animation-duration: 1s;
  animation-direction:reverse;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
  line-height: 40px;
  color: #3356b0;
}
