
main{
  background-color:black;
}
div#title {
  min-height: 800px;
  background-image: url(../img/title2.jpg);
}


div#title .wrap {
  align-items: center;
  width: 100%;
  height: 100%;
}
div#title div .wrap{
  
}

div#title .wrap h2{
  color: white;
  font-size: 49px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  line-height: 1.5;
}

div#title .wrap h2 .textC{
  
  display: initial;
  color: #C2C2C2;
  font-weight: 600;
  background-color: rgba(0,0,0,0.3);
}


div#title .wrap .stxt{

}
div#title .wrap .stxt p.stxtT{
  text-align: left;
}
div#title .wrap .stxt p.stxtB{
  text-align: left;
  line-height: 1.4;
}


