section#news {
  color: 111;
}
section#news .top {
  color: 111;
}
section#news .top h2 {
  color: 111;
}
section#news .top h2 a {
  color: 111;
}
section#news .bottom {
  color: 111;
}
section#news .bottom ul {
  color: 111;
}
section#news .bottom ul li {
  color: 111;
}
section#news .bottom ul li a {
  color: 111;
}
section#news .bottom ul li p {
  color: 111;
}