section#news{color:111;
   .top{color:111;
      h2{color:111;
         a{color:111;}
      }
   }
   .bottom{color:111;
      ul{color:111;
         li{color:111;
            a{color:111;}
            p{color:111;}
         }
      }
   }
}