section#big_letters{

  width: 100%;
  background-color: white;
  padding-bottom: 100px;
  overflow: hidden;
}
section#big_letters .wrap{
  display: grid;
  grid-template-columns: 45% 19% 45%;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 42px;
  width: 107%;
}

section#big_letters .wrap1{  
  display: grid;
  grid-template-columns: 0% 20% 25% 20% 40%;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 100px;
  width: 107%;
  margin-top: 40px;
  margin-bottom: 40px;
}