section#page4{
   background-color: white;padding-top: 200px;padding-bottom: 200px;
   justify-content: center;
   display: flex;
}
section#page4 .wrap .center{
   
}
section#page4 .wrap{
   justify-content: center;background-color: white;
}
section#page4 .wrap h2{
      font-size: 51px;
      line-height: 1.4;
      text-align: center;
      margin-bottom: 40px;
      }
section#page4 .wrap p{
      line-height: 1.6;
      font-size: 15px;
      text-align: center;
      }
section#page4 .wrap a{
      border-bottom: 1px solid black;
      }

section#pics{}
section#pics .pics{
display: flex;justify-content: center;
margin-bottom: 100px;
}
section#pics .pics span{
      
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
}
section#pics .pics span img{
      width: 500px;
      padding-right: 20px;
      padding-bottom: 40px;
}

section#pics .pics span p{
      
      line-height: 1.6;
      padding-top: 30px;
      padding-bottom: 50px;
}
section#pics .pics span a{border-bottom: 1px solid black;width: 78px;}